return {

   -- default_gui_startup_args = { 'connect', 'WSL:Ubuntu-24.04' },

    -- ref: https://wezfurlong.org/wezterm/config/lua/SshDomain.html
    ssh_domains = {
       {
          name = 'your-server',
          remote_address = '192.168.x.x',
          username = 'root',
          multiplexing = 'None',
       },
    },

    -- serial_ports = {},

   -- ref: https://wezfurlong.org/wezterm/multiplexing.html#unix-domains
   unix_domains = {},

   -- ref: https://wezfurlong.org/wezterm/config/lua/WslDomain.html
     wsl_domains = {
        {
           name = 'WSL:Ubuntu-XX.XX',
           distribution = 'Ubuntu-XX.XX',
           username = 'your-username',
           default_cwd = '/home/your-username',
           default_prog = { 'bash', '-l' },
        },
     },
}